<section class="home" id="Home">
    <div class="title">
        <h3>Hello, I am Aness</h3>
        <p>a front-developer, on my journey to become a full-stack developer and an Ai Developer,i would be happy to assist you building your desired app rapidly and smoothly</p>
        <span class="contact">
            <a href="https://www.linkedin.com/in/aness-rahmani-1bb2a424b/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/aness793"><i class="fa-brands fa-github"></i></a>
            <a href="https://www.upwork.com/freelancers/anessr"><i class="fa-brands fa-upwork"></i></a>
            <a href="https://t.me/aness_as"><i class="fa-brands fa-telegram"></i></a>
            <a href="mailto:d.rahmanianess@gmail.com"><i class="fa-solid fa-m gmail"></i></a>
        </span>
        <a href="#Projects">Projects <i class="fa-solid fa-arrow-right-long"></i></a>
    </div> 
</section>
<section class="projects-section" id="Projects">
    <h1>projects</h1>
    <div class="projects">
        <div class="container" *ngFor="let p of Projects">
            <div class="image">
                <img [src]="p.img" alt="">
            </div>
            <div class="informations">
                <h3>{{p.title}} </h3>
                <p>{{p.description}} </p>
                <div class="tags">
                    <p class="technologies" *ngFor="let item of p.technologies">{{item}} </p>
                </div>
                <div class="url">
                    <a [href]="p.url" target="_blank" rel="noopener noreferrer">Open Project <i class="fa-solid fa-up-right-from-square"></i></a>
                </div>
                
            </div>
        </div>
    </div>
</section>
<section class="about" id="About">
    <h1>About</h1>
    <div class="about-content">
        <img src="profile3.jpg" alt="">
        <p>i'm aness, a front-end and Javascript developer a telecommunication systems engineering student , i'm passionate about technology and AI,
            <a href="Aness resume.pdf" download="Aness resume.pdf">click to dowload my resume <i class="fa-solid fa-download"></i></a>
        </p>
        <h2>Skills</h2>
        <div class="skills">
            <div class="hard-skills">
                <div class="skill-title">
                    <p>Hard Skills</p>
                </div>
                <div class="content">
                    <p>javascript (advanced)</p>
                    <p>TypeScript (advanced)</p>
                    <p>Angular (advanced) </p>
                    <p>java (basic)</p>
                    <p>express.js </p>
                    <p>HTML & CSS (advanced)</p>
                    <p>python (advanced)</p>
                    <p>C++ </p>
                    <p>SQL</p>
                    <p>MongoDB</p>
                    <p>React</p>
                    
                    
                </div>
            </div>
            <div class="soft-skills">
                <div class="skill-title">
                    <p>Soft Skills</p>
                </div>
                <div class="content">
                    <p>Arabic (Native)</p>
                    <p>English (profecient) </p>
                    <p>French (advancec) </p>
                    <p>Russian (Beginner)</p>
                    <p>Effective communication </p>
                    <p>Active listening</p>
                    <p>Teamwork</p>
                    <p>Conflict Resolution</p>
                    <p>Flexibility </p>
                    <p>Continuous learning</p>
                    <p>Time management </p>
                    <p>organization</p>
                </div>
            </div>
        </div>
    </div>
</section>
<footer>
   <div class="footer-content">
    <div class="info">
        <h3>aness Rahmani</h3>
        <span class="phone"><i class="fa-solid fa-phone"></i><span>(+213) 669231386 |  (+213) 559318619</span> </span>
        <span class="location"><i class="fa-solid fa-location-dot"></i><span>khemis Miliana, Algeria</span></span>
    </div>
    <div class="social-media">
        <h1>social</h1>
        <div>
            <a href="https://www.linkedin.com/in/aness-rahmani-1bb2a424b/"><i class="fa-brands fa-linkedin"></i></a>
            <a href="https://github.com/aness793"><i class="fa-brands fa-github"></i></a>
            <a href="https://t.me/aness_as"><i class="fa-brands fa-telegram"></i></a>
            <a href="mailto:d.rahmanianess@gmail.com"><i class="fa-solid fa-m gmail"></i></a>
            <a href="https://www.facebook.com/aness.rahmani/"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/aness._.as?igsh=cnpleXdnamh2Z2pp"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.upwork.com/freelancers/anessr"><i class="fa-brands fa-upwork"></i></a>
    </div>
    </div>
   </div>
   <div class="copyright">
    © Copyright 2024 . Made by Rahmani Aness
   </div>
</footer>