section {
    max-width: 100svw;
    width: 100svw;
    min-width: 90svw;
    min-height: 50svh;
    background-color: var(--bg);
    position: relative;
    padding-top: 5rem; /* Adjust based on your navbar height */
    /* margin-top: -5rem; */
    }
.home {
    max-width: 100svw;
    width: 100svw;
    /* height: clamp(50svh,120svh,120svh); */
    background-color: var(--bg);

}
.title {
    margin: 0 auto;
    padding: .5rem;
    height: clamp(10svh,87svh,89svh);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: clamp(.5rem,1rem,1rem);
    padding-bottom: clamp(2rem,5rem,5rem);
}

.title h3 {
    font-size: clamp(1.4rem,3rem,3.2rem);
    font-weight: 800;
    text-align: center;
}
.title p {
    /* color:var(--second); */
    max-width: 60ch ;
    text-align: center;
    font-size: clamp(.8rem,1.4rem,1.4rem);
}
.contact {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.contact a * {
    font-size: 2rem;
    /* margin-top:clamp(0,2rem,2rem); */
    color: var(--main);
}

.contact a *:hover {
    color:var(--second);
}
.title > a{
    /* padding: .4rem 1rem;
    background-color: var(--main); */
    color: var(--main);
    /* border: 1px solid black; */
    font-size: clamp(1rem,2rem,2.4rem);
    font-weight: 600;
    /* margin-top: clamp(0,5rem,5rem); */
}
.title > a:hover {
    color: var(--second);
}
.projects-section {
    /* height: clamp(50svh,300svh,500svh); */
    box-sizing: border-box;
    padding: 60px 1rem 2rem 1rem;
}
section > h1 {
    margin: 2rem auto;
    font-size: 2.4rem;
    text-align: center;
    color: var(--main);

}
section > h1::after {
    content: '';
    display: block;
    width: 5rem;
    height: 5px;
    background: var(--second);
    margin: 0 auto;
    margin-top: .8rem;
    border-radius: 2rem;
}
.projects {
    /* height: clamp(50svh,500svh,500svh); */
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    line-height: 1;
    
}
.projects .container {
    width: clamp(12rem,20rem,18rem);
    height: clamp(12rem,27rem,30rem);
    display: grid;
    grid-template-rows: 8rem 1fr;
    border-radius: 1rem;
    background-color: rgb(247, 247, 247);
    border: .1px solid whitesmoke;
}
.container .image {
    top: 0;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}
.container .image img {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    width: 100%;
    /* height: 100%; */
    object-fit: fill;

}
.container .informations {
    display: grid;
    grid-template-rows:  1f 2fr 1fr 1fr;
    padding: .2rem .5rem;
    border-bottom-left-radius:1rem ;
    border-bottom-right-radius:1rem ;
}
.container .informations h3 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.technologies {
    padding: .1rem .2rem;
    width: fit-content;
    border-radius: 3rem;   
    color: var(--main);
    font-weight: 600;

}
.container .informations .tags {
    display: flex;
    align-items: center;
    gap: .4rem;
    font-size: clamp(.6rem,.8rem,1rem);
}
.container .informations p:not(.tags p){
   font-size: clamp(.6rem,1rem,1.2rem);
}
.container .informations .url {
    display: flex;
    align-items: center;
    justify-content:center
}
.container .informations .url a {
    padding: .2rem .4rem;
    background-color: var(--second);
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: .2rem;
    font-weight: 600;

}
.about {
    max-width: 100svw;
    width: 100svw;

}
.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;

}
.about-content img {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    object-fit: cover;
}
.about-content > p {
    text-align: center;
    font-weight: 600;
    max-width: 50ch;
    font-size: clamp(.8rem,1.2rem,2rem);
}
.about-content > h2 {
    margin: 0 auto;
    font-size: 2rem;
}
.about-content p a {
    color: var(--second);

    font-weight: 600;
}
.about-content > h2::after {
    content:'';
    margin-top: .5rem;
    width: 4rem;
    margin: 0 auto;
    height: 3px;
    display: block;
    background:var(--main); 
    border-radius: 2rem;
}
.skills {
    margin: 0 ;
    display: grid;
    width: clamp(20rem,100%,100svw);
    height: clamp(10rem,20em,100rem);
    grid-template-columns: 1fr 1fr;
    padding: 1rem 2rem;
    padding-bottom: 0;

}
.skills h2 {
    display: flex;
    justify-content: center;
}
.hard-skills ,.soft-skills {
    display: grid;
    grid-template-rows: 2rem 1fr;
}
.skills .skill-title {
    grid-row: 1/2;
    display: flex;
    align-items: center;
    font-size: 2rem;
    justify-content: center;
    font-weight: 700;
}
.skill-title p {
    font-size: 2rem;
}
.skills .content {
    display:flex;
    gap:.5rem;
    flex-wrap: wrap;
    height: fit-content;
    align-items: center;
    justify-content: center;
    margin-inline:.2rem ;
    align-self: center;
    
}

.skills .content p {
    color: var(--main);
    border: 2px solid var(--main);
    padding: .6rem .5rem;
    border-radius: .5rem;
    flex: none; /* Prevent flex items from growing or shrinking */ 
    
    margin:0;
    display: flex;
    align-items: center;
    font-size: .8rem;
    font-weight: 600;

}
.hard-skills {
    border-right: 1px solid black;
}
footer {
    /* border-top: 1px solid black; */
    height: 20rem;
    display: grid;
    grid-template-rows: 90% 10%;
    background-color:var(--bg);
    border-top: 3px solid var(--second);
}
footer * {
    color: var(--main);
}
.copyright {
    display: flex;
    text-align: center;
    align-items: center;
    justify-self:center;
    font-size: .8rem;
}
.footer-content {
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 1rem;
}
.footer-content .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-left: 1rem;
}
.info h3 {
    font-size: 2rem;
}
.info > span {
    font-size: 1rem;
    font-weight: 600;
    margin-block: 1rem;
    display: flex;
    gap: .5rem;
    align-items: center;
}
.info span i {
    margin: 0;
    padding: 0;
    width: 1.5rem;
}
.social-media {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;

}
.social-media div {
    display: flex;
    gap: .5rem;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.6rem;
    justify-content: center;
    height: 10rem;
    max-width: 10rem;
    padding-top: 2rem;
}



@media screen and (max-width:870px){
    footer {
        height: 15rem;
    }
    .skills .content p {
        font-size: .6rem;
        font-weight: 500;
        text-align: center;
        padding: .4rem;
    }
    .skills {
        height: 15rem;
    }
    .skill-title p {
        font-size: 1.6rem;
    }
    .about h2 {
        font-size: 1.6rem;
    }
    .soft-skills .content p, .hard-skills .content p{
        justify-self: center;
        
    }
    .social-media div {
        font-size: 1.2rem;
        gap:.7rem;
    }
    .social-media h1 {
        font-size: 1.8rem;
    }
    .info h3 {
        font-size: 1.8rem;
    }
    .copyright {
        font-size: .6rem;
    }
}
@media screen and (max-width:670px) {
    .skills .content p {
        font-size: .5rem;
        font-weight: 500;
        text-align: center;
        padding: .4rem;
    }
    .skills {
        height: 20rem;
    }
    .skill-title p {
        font-size: 1.6rem;
    }
    .about h2 {
        font-size: 1.6rem;
    }
    .social-media div {
        font-size: 1.2rem;
        gap:.7rem;
    }
    .social-media h1 {
        font-size: 1.4rem;
    }
    .info h3 {
        font-size: 1.4rem;
    }
    .info span span {
        font-size: .8rem;
        max-width: 15ch;

    }
    .social-media div {
        padding-right: .5rem;
        flex-wrap: wrap;
    }
    
}
@media  screen and (max-width:477px) {
    .skills .content p {
        font-size: .3rem;
        font-weight: 500;
        text-align: center;
        padding: .2rem;
        border-radius: .3rem;
    }
    .skills {
        height: fit-content;
        padding-block: .2rem;
        padding-inline: .1rem;
    }
    .skills .content {
        justify-content: start;
        gap: .2rem;
        margin-inline: .1rem;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .skill-title p {
        font-size: 1rem;
    }
    .about h2 {
        font-size: 1rem;
        text-align: center;
    }
    .skills .content p {
        font-size: .4rem;
        align-self: center;
        padding: .2rem;
        justify-self: center;
        width: 4rem;
        text-align: center;
        justify-content: center;
    }   
    .social-media div {
        font-size: 1rem;
        gap:.7rem;
        padding-top: 0;
    }
    .social-media h1 {
        font-size: 1.2rem;
    }
    .info h3 {
        font-size: 1rem;
    }
    .info span span {
        font-size: .8rem;
        max-width: 15ch;

    }
    .footer-content {
        padding-left: 0;
    }
    .info {
        padding-left: 5rem;
    }
    .about-content > p {
        font-size: 1rem ;
        max-width: 40ch;
    }

    .title h3 {
        font-size: 2.4rem;
    }
    .title p {
        /* color:var(--second); */
        max-width: 60ch ;
        font-size: 1rem;
        
    }
    .title {
        padding: 0;
        margin-inline:.2rem;
        height: clamp(10svh,70svh,89svh);
    }
    .contact {
        gap:1rem;
    }
    .contact a * {
        font-size: 1.5rem;
    }

}
@media  screen and (max-width:300px) {
    .about-content > p {
        font-size: .8rem ;
        max-width: 40ch;
        margin-inline: .2rem;
    }
    .title {
        padding: 0;
        margin-inline:.2rem;
        height: clamp(10svh,60svh,89svh);
    }
    .title h3 {
        font-size: 2rem;
    }
    .title p {
        /* color:var(--second); */
        max-width: 60ch ;
        font-size: .8rem;
        
    }
    .contact a * {
        font-size: 1.2rem;
    }
    footer {
        height: 10rem;
    }
    .info {
        gap: .2rem;
    }
    .skills .content p {
        font-size: .4rem;
        font-weight: 400;
        text-align: center;
        padding: .2rem;
        width: 3rem;
    }
    .skills {
        height: 15rem;
        max-width:250px;
        min-width: 100px;
    }

    .skill-title p {
        font-size: 1rem;
    }
    .about h2 {
        font-size: 1rem;
    }
    .social-media div {
        font-size: .6rem;
        gap:.5rem;
        padding-top: 0;
    }
    .info span  {
        font-size:.6rem ;
        align-items: center;
    }
    .info span span {
        font-size:.6rem ;
    }
    .info span i {
        width: .5rem;

    }
    .copyright {
        font-size: .6rem;
    }
    .footer-content {
        grid-template-columns: 60% 40%;
        padding: .2rem;
    }
    .info * {
        font-size: .8rem;
        gap: .8rem;
        
    }
    .info > span {
        margin-block: .4rem;
    }
    .social-media  div {
        height: fit-content;
        align-self: center;
        align-items: center;
        justify-content: center;
    }
    .social-media div a i  {
        margin-top: 1rem;
        font-size: 1rem;

    }
    .copyright  {
        font-size: .4rem;
    }
  
}